@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: whitesmoke;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0; right: 0;
    width: 100%;
    padding: 30px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: pink;
    padding: 20px 20px;
}


/*แถบบาร์ด้านบน*/
.logo{
    font-size: 1.5rem;
    pointer-events: none;
    font-weight: bold;
}
* li{
    list-style: none;
}
.navbar{
    display: flex;
    
}
.navbar a{
    color:#2f0742;
    text-decoration: none;
    margin-left: 1px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    letter-spacing: 0.3px;
}
.navbar a:hover{
    background: #2f0742;
    color: white;
}
header #toggler{
    display: none;
}
header .fa-bars{
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}


/*ตรงส่วนรูปปก*/
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    position: absolute;
    font-size: 5em;
    color: black;
    top: 15%;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img{
    position: absolute;
    top: 5%;
    left: auto;
    width: 90%;
    pointer-events: none;
    
}
.parallax img#cream{
    top: 79%;
    width: 100%;
}
.parallax img#kon1{
    
    width: 13%;
    top: 55%;
    right: 30%;
    transform: translateX(0px);
}
.parallax img#kon2{
    
    width: 30%;
    top: 69%;
    left: 21%;
    transform: translateX(10px);
}


/*about us*/
.about{
    text-align: center;
}
.about .row{
    display: flex;
}
.scroll{
    width: 500px;
    height: 800px;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
.scroll .item{
    scroll-snap-align: start;
}
.scroll img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}





/*เว็บปรับเปลี่ยนตามขนาดหน้าจอ เดี๋ยวกลับมาแก้*/
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .parallax{
        background-position: left;
    }
}

@media (max-width:768px){
    html .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,0 0);
    }
    header #toggler:checked~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
         
}