@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
}
nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background: #ffe5ea;    
}
.btn-hamburger {
    font-size: 1.5rem;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}


/*แถบบาร์ด้านบน*/
.logo img{
    width: 10%;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    color:#2f0742;
    text-decoration: none;
    margin-left: 1px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    letter-spacing: 0.3px;
}
nav ul li  a:hover{
    background: #c490d1;
    color: white;
}

/*อธิบาย*/
.about-commission {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-left: 7%;
}
.about-commission h1{
    font-size: 70px;
    line-height: 160px;
}
.about-commission p{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: bold;
}
.artcommis{
    width: 650px;
    position: absolute;
    left: 53%;
    top: 20%;
}

/*รูปโปรไฟล์แต่ละคน*/
.container {
    margin-top: 17%;
    margin-left: 2.5%;
    width: 60%;
    min-height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.card{
    width: 350px;
    height: 515px;
    margin: 100px auto 0;
    background: linear-gradient(45deg,#C490D1,#EEAFBA);
    border-radius: 15px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
}
.front h2{
    font-weight: 500; 
}
.front p{
    color: black;
    font-size: 13px;
}
.front button{
    width: 120px;
    border: 1px solid #581C60;
    background: #581C60;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff ;
}
.back{
    background: linear-gradient(45deg,#C490D1,#EEAFBA);
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}
.back h1{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 10px;
}
.back h1 span{
    font-weight: 400;
}
.back p{
    font-size: 14px;
}
.back img{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.col{
    flex: 1;
    text-align: center;
    color: #555;
    font-size: 12px ;
    position: relative;
}
.col h2{
    font-size: 20px;
}
.col ::after{
   content: " ";
   width: 1.5px;
   height: 20px;
   background: #7800ad;
   position: absolute;
   top: 5px;
   right: 0;
}
.col:last-child::after{
    display: none;
}
.col p{
    margin-top: 5px;
}
.back a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.back a img{
    width: 50%;
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}
.link-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-message button {
    background: #7800ad;
    border: 0;
    padding: 8px 25px;
    border-radius: 30px;
    color: #fff;
    
}
